<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="filters.js"></script>


    <title>FILTERS in angular</title>
</head>
<body ng-app="myApp">
<!--Uppercase  filter step01

<div ng-controller="upperctrl">
    Enter first name: <input type = "text" ng-model = "student.firstName"><br>
    Enter last name: <input type = "text" ng-model = "student.lastName"><br>
    <br>
    You are entering: {{student.fullName() |  uppercase}}
</div>-->

<!--Lowercase filter step02

<div ng-controller="lowerctrl">
    Enter firstname: <input type="text" ng-model="student.firstname"/>
    Enter lastname; <input type="text" ng-model="student.lastname"/>
    <br/>
    You are entering;{{student.fullname() | lowercase}}

</div>

-->

<!--Currency filter step03
<div ng-controller="currencyctrl">
Enter rupees: <input type="text" ng-model="student.fees"/>
fees:{{student.fees | currency}}


</div>

-->























</body>
</html>